/* Global ====================================================================*/

:root {
  --primary-color: #2c0eeb;
  --secondary-color: #ecdcc4;
  --tertiary-color: #ffa400;

  --bg: #16161a;
  --bg-secondary: #333333;

  transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 93.75w;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
}

body {
  background: var(--primary-color);
}

html,
body {
  height: 100%;
  width: 100%;
  max-height: 100%;
}

/* Mapa e Menu Lateral =======================================================*/

#mapa {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
}

#header-mobile {
  display: none;
}

#menu-lateral {
  height: 100vh;
  max-width: 30vw;
  background-color: var(--bg);

  position: relative;

  z-index: 100;
  top: 0;
  right: 0;

  overflow-y: auto;
}

/* Estilizar  o scrollbar do menu lateral */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-secondary) var(--bg);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary);
  border-radius: 20px;
  border: 3px solid var(--bg);
}

/* Header Menu Lateral =======================================================*/

#menu-lateral header {
  height: 50px;
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  align-items: center;
}

#menu-lateral header img {
  width: 60%;
  margin: 0 auto;
}

/* Lateral com Linhas ========================================================*/

/* Header com dia e universidade que os dados mostram */
#menu-lateral main {
  padding: 1rem;
}

#menu-lateral main #handler-mobile {
  display: none;
}

#menu-lateral main section.aviso-header {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;

  border: 1px solid var(--bg);
  border-radius: 0.4rem;
  width: 100%;

  margin: 0.5rem 0;
  padding: 1rem;

  /* background: #1e1e1e; */
  background: var(--bg-secondary);
  color: var(--secondary-color);
}

#menu-lateral main section.dia-itinerario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 1.1rem;
  font-weight: 500;

  margin: 0.5rem 0;
}

/* Classe de todos os botões das linhas de ônibus */

#menu-lateral section.linha button {
  border: 1px solid var(--bg);
  border-radius: 0.4rem;
  width: 100%;

  font-weight: 700;
  font-size: 1.2rem;

  margin: 0.1rem 0;
  padding: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
}

.linha > button > p {
  font-weight: 500;
  font-size: 0.9rem;
}

/* Cada linha conta com uma cor diferente */

.linha#linha-um > button {
  background: #cd00ff;
  color: var(--secondary-color);
}

.linha#linha-dois > button {
  background: #d9383e;
  color: var(--secondary-color);
}

.linha#linha-tres > button {
  background: #008f32;
  color: var(--secondary-color);
}

.linha#linha-quatro > button {
  background: #3b49df;
  color: var(--secondary-color);
}

.linha#linha-tres-sabado > button {
  background: #96002d;
  color: var(--secondary-color);
}

#menu-lateral section.linha button {
  padding: 0.5rem;
}

.linha#linha-dois-ferias > button {
  background: #7b118a;
  color: var(--secondary-color);
}

.escondido {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(-50%);
}

.aparecido {
  display: flex;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateY(0%);
}

/* Box de Horário Anterior e Próximo */

/* Container de horários e do botão */
.exibir-horario {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  /* display: none; */
}

.exibir-horario > .horario-atual {
  background: var(--bg-secondary);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 0.8rem;

  display: flex;

  justify-content: space-around;
  width: 100%;

  text-align: center;

  padding: 0.2rem;

  border-radius: 0.4rem;

  /* display: none; */
}

.horario-atual > .anterior > p:nth-child(2),
.horario-atual > .proximo > p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 700;
}

#menu-lateral main div.container-buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.4rem;

  margin: 0.2rem 0 0.6rem;

  width: 100%;
}

/* Botão de exibir itinerário da linha */

#menu-lateral main .exibir-itinerario button {
  border: 2px solid var(--bg-secondary);
  border-radius: 0.4rem;

  font-weight: 700;
  font-size: 0.9rem;

  padding: 0.4rem;

  width: 100%;

  cursor: pointer;

  background: var(--bg);
  color: var(--secondary-color);
}

/* Botão de exibir mais horários */

#menu-lateral main .exibir-horario button {
  border: 2px solid var(--bg-secondary);
  border-radius: 0.4rem;

  font-weight: 700;
  font-size: 0.9rem;

  padding: 0.4rem;

  width: 100%;

  cursor: pointer;

  background: var(--bg);
  color: var(--secondary-color);
}

/* Box de mais horários */
div > div.itinerario-interno {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 0.8rem;

  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  text-align: center;

  margin-bottom: 0.5rem;
  padding: 0.5rem;

  border-radius: 0.4rem;
}

div > div.itinerario-interno > li {
  list-style: none;
  border-radius: 0.2rem;

  background-color: var(--bg);

  padding: 0.5rem;
  margin: 0.1rem;
}

/* Box de mais horários */
.exibir-horario > .horarios-interno {
  background-color: var(--tertiary-color);

  font-weight: 700;
  font-size: 0.9rem;

  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  text-align: center;

  margin-bottom: 0.5rem;
  padding: 0.5rem;

  gap: 0.5rem;

  border-radius: 0.4rem;
}

.exibir-horario > .horarios-interno > li {
  list-style: none;
  border-radius: 0.2rem;

  color: var(--secondary-color);
  background: var(--bg);

  padding: 0.5rem 0.3rem;
  min-width: 3.5rem;
}

#menu-lateral > main > section.aviso {
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

#menu-lateral > main > section.aviso > p {
  margin: 0.5rem 0;
}

#menu-lateral > main > section.aviso > p > a {
  color: var(--tertiary-color);
  text-decoration-line: none;
  font-weight: 700;
}

/* Footer */

#menu-lateral > main > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section#reportar-problema > button {
  border: 1px solid var(--bg);
  border-radius: 0.4rem;

  width: 10 0%;

  font-weight: 700;
  font-size: 1rem;

  margin: 1rem 0 0.1rem;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-self: center;

  cursor: pointer;

  background: #dd1c1c;
  color: var(--secondary-color);
}

footer a#sobre-projeto {
  border: 1px solid var(--bg);
  border-radius: 0.4rem;
  width: 60%;

  font-size: 0.9rem;

  margin: 0.5rem 0 0.1rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  cursor: pointer;

  background: #1e1e1e;
  color: var(--secondary-color);
  text-decoration: none;
}

#sobre-projeto > img {
  width: 12px;
  margin: 0 0.5rem;
}

#menu-lateral > main > footer > #creditos {
  color: var(--secondary-color);
  text-decoration-line: none;
  font-weight: 700;

  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

/* Personalizar o popup do Leaflet */
#mapa div.leaflet-popup-content-wrapper,
#mapa div.leaflet-popup-tip-container > div {
  background-color: var(--bg);
  color: var(--secondary-color);

  font-family: "Poppins", sans-serif;
}

#mapa div.leaflet-popup-content-wrapper h4 {
  font-weight: 700;

  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

#mapa div.leaflet-popup-content-wrapper p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;

  margin: 0.2rem 0;
}

/* Responsivo ================================================================*/

@media (max-width: 850px) {
  html,
  body {
    height: calc(100vh + 80vh);
  }

  html {
    font-size: 87.5%;
    overflow: hidden;
  }

  /* Header Menu Lateral =======================================*/

  #menu-lateral header {
    display: none;
  }

  #header-mobile {
    display: block;

    position: fixed;

    z-index: 200;
  }

  #header-mobile header {
    display: flex;

    background-color: var(--primary-color);
    padding: 0.5rem;

    align-items: center;

    top: 0;
    position: fixed;

    height: 40px;
    width: 100vw;
  }

  #header-mobile > header > img {
    height: 90%;
    margin: 0 auto;
  }

  /* Mapa e Menu Lateral =======================================*/

  #mapa {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 40px) !important;

    z-index: 1;

    margin-top: 40px !important;
  }

  #menu-lateral main {
    padding: 0rem 0.2rem 2rem 1rem;
  }

  #menu-lateral {
    height: 70vh;
    max-width: 100vw;
    background-color: var(--bg);
    border-radius: 1rem 1rem 0 0;

    top: 80vh;

    position: fixed;

    z-index: 9999;

    overflow: auto;
  }

  /* Barra de puxar no mobile */

  #menu-lateral main #handler-mobile {
    display: flex;
    align-items: center;

    padding: 1.5rem 0;
    /* margin: 1rem 0 0; */

    max-width: 100vw;
    height: 100%;
  }

  main #handler-mobile #barra {
    content: "";
    position: absolute;
    text-align: center;

    left: calc(50% - 60px);

    /* top: 0.8rem; */

    width: 120px;
    height: 5px;

    background-color: var(--secondary-color);
    border-radius: 2rem;
  }

  #menu-lateral > main > section.aviso {
    text-align: center;
  }
}
