/* Global ====================================================================*/

:root {
  --primary-color: #F00631;
  --secondary-color: #ecdcc4;
  --tertiary-color: #ffa400;

  --bg: #1a1819;
  --bg-secondary: #3a3b3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* transition: all 0.5s ease-in-out; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 93.75w;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  background: var(--primary-color);

  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  max-height: 100%;

  overflow: hidden;
}

/* Mapa e Menu Lateral =======================================================*/

#mapa {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
}

#header-mobile,
#botao-mobile {
  display: none;
}

#menu-lateral {
  height: 100vh;
  height: 100svh;
  max-width: 30vw;
  background-color: var(--bg);

  position: relative;

  z-index: 100;
  top: 0;
  right: 0;

  overflow-y: auto;
  overflow-x: hidden;
}

/* Estilizar  o scrollbar do menu lateral */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-secondary) var(--bg);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary);
  border-radius: 1rem;
  border: 3px solid var(--bg);
}

/* Header Menu Lateral =======================================================*/

#menu-lateral header {
  height: 50px;
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  align-items: center;
}

#menu-lateral header img {
  height: 150%;
  margin: 0 auto;
}

/* Lateral com Linhas ========================================================*/

/* Header com dia e universidade que os dados mostram */
#menu-lateral main {
  padding: 1rem;
}

#menu-lateral main #handler-mobile {
  display: none;
}

#menu-lateral main section.aviso-header {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;

  border: 1px solid var(--tertiary-color);
  border-radius: 0.4rem;
  width: 100%;

  margin: 0.5rem 0;
  padding: 1rem;

  background: var(--tertiary-color);
  color: var(--bg);
}

#menu-lateral main section.dia-itinerario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 1.1rem;
  font-weight: 500;

  margin: 0.5rem 0;
}

/* Classe de todos os botões das linhas de ônibus */

.linha button p {
  font-weight: 700;
  font-size: 0.9rem;
}

#menu-lateral section.linha button {
  border: 1px solid var(--bg);
  border-radius: 0.4rem;
  width: 100%;

  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;

  margin: 0.1rem 0;
  padding: 0.5rem 2rem;

  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;

  transition: opacity 0.05s ease-in-out;
  opacity: 1;
}

button#linha:hover {
  opacity: 0.8;
}

#info-linha {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

/* Cada linha conta com uma cor diferente */

.linha#linha-um > button {
  background: #cd00ff;
  color: var(--secondary-color);
}

.linha#linha-dois > button {
  background: #d9383e;
  color: var(--secondary-color);
}

.linha#linha-tres > button {
  background: #008f32;
  color: var(--secondary-color);
}

.linha#linha-quatro > button {
  background: #3b49df;
  color: var(--secondary-color);
}

.linha#linha-tres-sabado > button {
  background: #96002d;
  color: var(--secondary-color);
}

.linha#linha-dois-ferias > button {
  background: #7b118a;
  color: var(--secondary-color);
}

.escondido {
  opacity: 0;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);

  overflow: hidden;
  pointer-events: none;

  padding: 0;
  margin: 0;
}

.aparecido {
  opacity: 1;
  max-height: 250vh !important;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);

  overflow: visible;
  visibility: visible;
  pointer-events: visible;

  padding: 0.5rem;
}

/* Box de Horário Anterior e Próximo */

/* Container de horários e do botão */
.exibir-horario {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  /* display: none; */
}

.exibir-horario > .horario-atual {
  background: var(--bg-secondary);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 0.8rem;

  display: flex;

  justify-content: space-around;
  width: 100%;

  text-align: center;

  padding: 0.2rem;

  border-radius: 0.4rem;

  /* display: none; */
}

.horario-atual > .anterior > p:nth-child(2),
.horario-atual > .proximo > p:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 700;
}

#menu-lateral main div.container-buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.4rem;

  margin: 0.2rem 0 0.6rem;

  width: 100%;
}

/* Botão de exibir itinerário da linha */

#menu-lateral main .exibir-itinerario button {
  border: 2px solid var(--bg-secondary);
  border-radius: 0.4rem;

  font-weight: 700;
  font-size: 0.9rem;

  padding: 0.4rem;

  width: 100%;

  cursor: pointer;

  background: var(--bg);
  color: var(--secondary-color);
}

/* Botão de exibir mais horários */

#menu-lateral main .exibir-horario button {
  border: 2px solid var(--bg-secondary);
  border-radius: 0.4rem;

  font-weight: 700;
  font-size: 0.9rem;

  padding: 0.4rem;

  width: 100%;

  cursor: pointer;

  background: var(--bg);
  color: var(--secondary-color);
}

/* Box de mais horários */
div > div.itinerario-interno {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 0.8rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  text-align: center;

  /* margin-bottom: 0.5rem; */
  /* padding: 0.5rem; */

  border-radius: 0.4rem;
}

div > div.itinerario-interno > li {
  list-style: none;
  border-radius: 0.2rem;

  background-color: var(--bg);

  padding: 0.5rem;
  margin: 0.1rem;
}

/* Box de mais horários */
.exibir-horario > .horarios-interno {
  background-color: var(--tertiary-color);

  font-weight: 700;
  font-size: 0.9rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  text-align: center;

  gap: 0.4rem;

  border-radius: 0.4rem;
}

.exibir-horario > .horarios-interno > li {
  list-style: none;
  border-radius: 0.2rem;

  color: var(--secondary-color);
  background: var(--bg);

  padding: 0.5rem 0.3rem;
  min-width: 3.5rem;
}

#menu-lateral > main > section.aviso {
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

#menu-lateral > main > section.aviso > p {
  margin: 0.5rem 0;
}

#menu-lateral > main > section.aviso > p > a {
  color: var(--tertiary-color);
  text-decoration-line: none;
  font-weight: 700;
}

/* Footer */

#menu-lateral > main > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section#reportar-problema > button {
  border: 1px solid var(--bg);
  border-radius: 0.4rem;

  width: 100%;

  font-weight: 700;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;

  margin: 0.1rem auto;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-self: center;

  cursor: pointer;

  background: #a01f1f;
  color: var(--secondary-color);
}

footer #reportar-problema #container-problema-links {
  background-color: var(--bg-secondary);

  margin: 0;

  font-size: 0.9rem;

  border-radius: 0.2rem;
}

#container-problema-links > p > a {
  color: var(--tertiary-color);
  text-decoration-line: none;
  font-weight: 700;
}

footer a#sobre-projeto {
  border: 1px solid var(--bg);
  border-radius: 0.4rem;
  width: 60%;

  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;

  margin: 0.5rem 0 0.1rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  cursor: pointer;

  background: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
}

#sobre-projeto > img {
  width: 12px;
  margin: 0 0.5rem;
}

#menu-lateral > main > footer > #creditos {
  color: var(--secondary-color);
  text-decoration-line: none;
  font-weight: 700;

  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.8rem;

  margin-bottom: 4rem;
}

/* Personalizar o popup do Leaflet */
#mapa div.leaflet-popup-content-wrapper,
#mapa div.leaflet-popup-tip-container > div {
  background-color: var(--bg);
  color: var(--secondary-color);

  font-family: "Poppins", sans-serif;
}

#mapa div.leaflet-popup-content-wrapper h4 {
  font-weight: 700;

  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

#mapa div.leaflet-popup-content-wrapper p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;

  margin: 0.2rem 0;
}

/* Responsivo ========================================================================================================*/

@media (max-width: 850px) {
  html,
  body {
    height: calc(100vh + 60vh);
    height: calc(100svh + 60vh);
    font-size: 87.5%;

    overflow: hidden;
  }

  /* Botão Ver Linhas e Horários =============================================*/
  #botao-mobile {
    display: block;

    position: fixed;
    bottom: 3rem;

    text-align: center;
    padding: 1rem;

    width: 100%;

    cursor: pointer;

    z-index: 1;

    display: flex;
    justify-content: center;
  }

  #ver-linhas-horarios > div {
    display: flex;
    gap: 0 2rem;
    align-items: center;
    padding: 1rem;
  }

  #ver-linhas-horarios {
    background-color: var(--bg);
    color: var(--secondary-color);
    padding: 1rem 4rem;

    border: 1px solid var(--bg);
    border-radius: 10px;

    font-weight: 700;
    font-size: 1.2rem;
    font-family: Poppins, sans-serif;

    width: 50%;

    margin: 0.5rem 0px 0.1rem;
    padding: 0.5rem;
    display: flex;

    justify-content: center;
    align-items: center;
    align-self: center;
  }

  #ver-linhas-horarios > div > img {
    height: 1.5rem;
  }

  /* Header Menu Lateral =======================================*/

  #menu-lateral header {
    display: none;
  }

  #header-mobile {
    display: block;

    position: fixed;

    z-index: 200;
  }

  #header-mobile header {
    display: flex;

    background-color: var(--primary-color);
    padding: 0.5rem;

    align-items: center;

    top: 0;
    position: fixed;

    height: 40px;
    width: 100vw;
  }

  #header-mobile > header > img {
    height: 90%;
    margin: 0 auto;
  }

  #header-menu-mobile {
    top: 40px;
    position: fixed;

    height: 40px;
    width: 100vw;

    text-align: center;

    cursor: pointer;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
  }

  #header-menu-mobile.show {
    display: flex;
  }

  #fechar-linhas-horarios > div {
    display: flex;
    gap: 0 2rem;
    align-items: center;
  }

  #fechar-linhas-horarios {
    background-color: var(--bg);
    color: var(--secondary-color);
    padding: 1rem 4rem;

    border: 1px solid var(--bg);
    border-radius: 10px;

    font-weight: 700;
    font-size: 1rem;
    font-family: Poppins, sans-serif;

    width: 70%;

    padding: 0.3rem;
    display: flex;

    justify-content: center;
    align-items: center;
    align-self: center;
  }

  #fechar-linhas-horarios > div > img {
    height: 0.9rem;
  }

  /* Mapa e Menu Lateral =======================================*/

  #mapa {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 40px) !important;
    height: calc(100svh - 40px) !important;

    bottom: 0 !important;
    margin-top: 40px !important;

    z-index: 1;
  }

  #menu-lateral main {
    padding: 0 1rem 1rem 1rem;
  }

  #menu-lateral {
    height: 0;
    width: 100%;
    max-width: 100vw;
    background-color: var(--bg);

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 1000;

    padding: 0 1rem 1rem 1rem;

    overflow-y: auto;

    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
    transform: translateY(100%);

    display: none;
  }

  #menu-lateral.show {
    height: calc(100vh - 80px);
    top: 80px;

    transform: translateY(0);

    display: flex;
  }

  #menu-lateral > main > section.aviso {
    text-align: center;
  }

  footer #reportar-problema #container-problema-links {
    text-align: center;
  }
}
