@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-internoRotas-azul-eletrico: #2c0eeb;
  --color-internoRotas-bege-areia: #ecdcc4;
  --color-internoRotas-laranja-ambar: #ffa400;

  --color-internoRotas-preto-carvao: #1a1819;
  --color-internoRotas-cinza-grafite: #3a3b3c;

  --font-poppins: Poppins, sans-serif;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
  font-display: swap; /* Evita FOIT */
}